h1{
  font-size: 7em;
  float: left;
  margin-left: 3%;
  display: inline-block;
  width: 50%;
  padding-top: 1%;
}

header a{
    color:  #132e37;
    display: inline-block;
    margin-left: -30%;
    margin-bottom: 0%;
    margin-top: 1%;
}

header img{
    display: inline-block;
    width: 8%;
    margin: 1%;
    margin-left: 15%;
    margin-bottom: 0%;
}

header{
  border-bottom: solid 4px #9eb15f;
  background-color: white;
  width: 100%;
  font-family: EB Garamond;
  /*padding: 4%;*/
}


footer {
  background-color: #132e37;
  width: 100%;
  font-family: Didact Gothic;
  color: #f2f3f5;
  padding: 1.5%;
  font-size: 1em;
  text-align: center;
  clear:both;
  border-top: solid 5px #9eb15f;
  border-bottom: solid 5px #9eb15f;
}


.top-nav ul li{
  display: inline-block;
  float: right;
  font-size: 2em;
  /*padding: 1%;*/
  background-color: #132e37;
  padding-left: 1%;
  /*border-bottom: solid 5px #619497;*/
}

.top-nav ul li a{
  color: #f2f3f5;
  font-weight: bold;
}

.top-nav {
  width: 100%;
  background-color: #132e37;
  padding: 1.25%;
  border-bottom: solid 4px #9eb15f;
}

.top-nav ul{
  padding-right: 8%;
  margin-bottom: 1%;
  font-size: .8em;
  font-family: Didact Gothic;
}


li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

 h2 a{
  color: #f2f3f5;
}

p a{
  text-shadow: 2px 2px 2px #d6ed82;
}

p a:hover{
  color: #9eb15f;
}

section {
  font-family: Source Sans Pro, sans-serif;
  font-size: 2.25em;
  text-align: left;
  font-weight: bold;
  line-height: 1.5;
  margin-right: 10%;
}

.hide {
  color: #f2f3f5;
}
/* About page specifics */
.about {
  margin-bottom: 400px;
}

.about section {
  width: 49%;
  float: left;
}

#erin_photo {
  float: right;
  width: 35%;
  height: auto;
  max-height: 10px;
  text-align: left;
  margin-left: -1000px;
}

#erin_photo img {
  border: 6px solid black;
  border-radius: 15px;
}

/* Index page specifics */
/*.index p:nth-child(1){
  color: #9eb063;
  font-family: Roboto Mono, monospace;
  float: right;
  width: 17%;
  font-size: 3em;
  position: absolute;
  top: 28%;
  left: 70%;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 auto;
  animation: type 5s steps(60, end);
  border-right: solid #b6e4dd;
}*/

@keyframes type{
  from { width: 0; }
}

.index {
  margin-top: 3%;
  position: relative;
  left: 0;
  top: 0;
}

/*.index img {
  float: right;
  margin-top: -5%;
  margin-left: -4%;
  padding-left: 5%;
  z-index: -1;
  position: relative;
  top: 0;
  left: 0;
}*/

.index img {
  float: left;
  display: inline;
  border:  solid 5px #132e37;
  border-radius: 100%;
  margin-top: 1%;
  margin-bottom: 2%;
  margin-left: 6%;
  margin-right: 5%;
}

.contact-links ul{
  text-align: right;
  margin-right: 16%;
  margin-top: 2%;
}
.contact-links li {
  width: 15%;
  display: inline-block;
  margin-right: -8%;
}
.contact-links img{

  width: 40%;
}

/* Porfolio page specifics */
.portfolio div {
  float: left;
}

.portfolio article {
  width: 100%;
  border-bottom: double 8px  #4abdac;
  margin: auto;
  display: inline-block;
  text-align: left;
  padding-top: 2%;
  padding-bottom: 2%;
}

.portfolio img {
  width: 15%;
  float: left;
  padding-top: 1%;
  padding-left: 5%;
}

#flower{
  padding-top: 5%;
}

.portfolio article:nth-child(2) img{
  padding-top: 5%;
  width: 20%;
  padding-left: 2%;
}

.portfolio h3 {
  font-family: EB Garamond;
  width: 100%;
  float: left;
}

.portfolio p{
  float: right;
  padding-top: 2%;
}
.portfolio p:nth-of-type(2), .portfolio p:nth-of-type(3), .portfolio p:nth-of-type(4){
  width: 75%;
}
.portfolio article p:nth-of-type(5), .portfolio article p:nth-of-type(1){
  width: 98%;
  padding-left: 2%;
}

/* Blog page specifics */

.blog {
  line-height: 1.3;
}

aside {
  line-height: 1.75;
  float: left;
  width: 13%;
  text-align: left;
  padding-right: -1%;
  margin-bottom: 2%;
  font-size: .76em;
}

.blog article {
  width: 41%;
  display: inline-block;
  padding: 1%;
  float: right;
  font-size: .9em;
}

.blog article p:first-of-type{
  font-size: .76em;
}

.blog article:nth-last-of-type(3), .blog article:nth-last-of-type(1){
  border-left: double 2px black;
}

h2 {
    font-family: EB Garamond;
    background: #4abdac;
    padding: 2%;
    border-radius: 2%;
}

.blog .hide {
  line-height: .75
}

.blog img {
  border: solid 3px #4abdac;
  border-radius: 100%;
}

.full-post img{
  border-radius: 2%;
  float: left;
  margin-right: 1%;
}


 .blog .full-post{
  width: 82%;
}

.full-post ol li::first-letter, span{
    font-family: EB Garamond;
}

.edit {
  text-decoration: line-through;
}
