header {
  width: 100%;
  font-family: 'Homemade Apple';
  font-size: 5em;
  color:  black;
  margin-top: 70px;
  padding-bottom: 10px;
  margin-left: 10%;
}

#last-paragraph {
  float: left;
  padding-bottom: 50px;
}

.index {
  margin-top: -50px;
}

#top_image {
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}

#bottom_image {
  width: 100%;
  position: absolute;
  left: 0px;
  bottom: -50px;
  z-index: -1;
}

#table_chair {
  width: 350px;
  float: left;
  margin-left: 20px;
  /*padding-bottom: 30px;*/
}

#sub-paragraphs {
  width: 60%;
  float: left;
}

header h1 {
  float: left;
}

footer {
  font-family: 'Nunito', sans-serif;
  font-size: 1em;
  float: left;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-family: 'Nunito', sans-serif;
}

p {
  padding-bottom: 25px;
}

section {
  font-family: Source Sans Pro, sans-serif;
  font-size: 2em;
  text-align: left;
  font-weight: bold;
  line-height: 1.5;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 125px;
}

.contact-links ul {
  float: right;
  padding-right: 20%;
}

.contact-links li {
  width: 40px;
  display: inline-block;
  float: left;
  margin-right: 3px;
}

.contact-links img {
  width: 100%;
}

.full-width {
  width: 100%;
}

.clear {
  clear: both;
}

h1 a {
  font-family: 'Homemade Apple', cursive;
}

footer p {
  margin-top: 50px;
}
